* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  background-color: #eaffff;
  background-color: #f5f5ef;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 8vh;
  background-color: #64a340;
  background-color: #509884;
  background-color: #89292b;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
.logo {
  letter-spacing: 5px;
  text-transform: capitalize;
  color: #fffcf4;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.nav-links a {
  text-decoration: none;
  color: #fff1d2;
  text-align: right;
  margin-left: 45px;
}

.nav ol {
  list-style: none;
  text-align: center;
  text-align: right;
}

.nav ol li {
  display: inline-block;
}

nav ol li a:hover {
  color: #e87964;
}

h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 65px;
  line-height: 300%;
  color: #024235;
  color: #72121b;
}

h2 {
  text-align: center;
  line-height: 150%;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  color: #72121b;
}

img {
  margin-left: 30em;
  align-content: center;
  width: 500px;
  height: 200px;
}

.box1 {
  border-style: solid;
  background-color: #680000;
  width: 300px;
  height: 100px;
  text-align: center;
  margin-top: 2em;
  margin-left: 3em;
  border-radius: 25px;
  box-shadow: 10px 5px 5px;
  margin-bottom: 3em;

}

h3 {
  text-align: left;
  margin-left: 3em;
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  line-height: 1000%;
  line-height: 400%;
  color: white;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #0f604e;
  color: #80543b;
  text-decoration: underline;
  text-decoration-color: #509884;
  text-decoration-color: #72121b;
}

h4 p {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
}

.paragraph {
  margin-left: 2em;
  margin-right: 4em;
  margin-bottom: 2em;
}
